#hero-section {
    background-image: url('https://images.unsplash.com/photo-1508830524289-0adcbe822b40?q=80&w=1125&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D    ');
    background-size: fill;
    background-position: center;
    padding: 3rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
    text-align: center;
}

#hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
}